:root {
  --primary-color: #048b9f;
  --input-border-color: #ddd;
  --input-bg-color: #f8f9fa;
  --primary-light-color: #048b9f21;
}
input,
textarea,
select {
  padding: 10px !important;
  border: 1px solid var(--input-border-color) !important;
  background-color: var(--input-bg-color) !important;
  border-radius: 8px !important;
}
input:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--primary-color) !important;
  box-shadow: 0 0 0 2px var(--primary-color) !important;
}

/* Error styling */
input.error,
textarea.error,
select.error {
  border: 2px solid red !important;
}
/* header on invoice*/
.heading-of-invoice {
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.btn-pdf {
  color: var(--primary-color);
  background-color: var(--primary-light-color);
  border-color: var(--primary-light-color);
  font-weight: 500;
}
.btn-pdf:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}
.btn-email {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  font-weight: 500;
}
.btn-email:hover {
  background-color: var(--primary-light-color);
  border-color: var(--primary-light-color);
  color: var(--primary-color);
}

/* end header on invoice */

.from-section {
  margin-left: 10px;
}
.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading-section {
  margin-top: 30px;
}
.heading-label-show {
  margin-top: 30px;
  margin-left: 20px;
}
.invoice-title {
  color: var(--primary-color);
}
.invoice-heading {
  font-size: 2em;
  font-weight: bold;
  border: none;
  background-color: transparent;
  margin-top: 20px;
  padding: 18px !important;
  color: var(--primary-color);
  margin-left: 20px;
}
/* from */
.from-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-align: start;
  font-weight: 600;
  font-size: 25px;
}
.from-info-lable {
  font-weight: 600;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.from-info-input {
  margin: 5px 0px 4px 0px;
  padding: 10px !important;
}
/* end from */
/* bill to */
.bill-to-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-align: start;
  font-weight: 600;
  font-size: 25px;
}
.bill-to-info-lable {
  font-weight: 600;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.bill-to-info-input {
  margin: 5px 0px 4px 0px;
  padding: 10px !important;
}
/* bill to */

.hr {
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* notes sub total  */
.sub-total-section {
  margin-top: 10px;
  margin-bottom: 10px;
}
.notes-teams-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.notes-teams-section {
  margin-left: 10px;
}
.notes-teams-lable {
  font-weight: 600;
  margin-top: 10px;
}
.notes-teams-input {
  margin: 5px 0px 4px 0px;
  padding: 10px !important;
}

.sub-total-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sub-total-section {
  margin-right: 10px;
}
.sub-total-lable {
  font-weight: 600;
  margin-top: 10px;
}
.sub-total-input {
  margin: 5px 0px 4px 0px;
  padding: 10px !important;
}
/* end notes sub total  */
