:root {
  --primary-color: #048b9f;
  --input-border-color: #ddd;
  --input-bg-color: #f8f9fa;
}
.section-title {
  text-align: center;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

@media only screen and (max-width: 500px) {
  .section-title {
    max-width: 100%;
  }
}

.section-title .sub-title {
  color: #dc133b;
  display: block;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 600;
}

/* steps */
.single-featured-box {
  height: 85%;
}

/* end steps */
.card {
  border: 1px solid #e3e6f0;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.invoice-header {
  margin-top: 5px;
}

.invoice-title {
  font-size: 2em;
}

/* upload logo */
.invoice-logo {
  border: 1px solid #ddd;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  color: #ccc;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  margin-right: 20px;
  padding: 30px 30px;
  border-radius: 10px;
}

.invoice-logo img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: auto;
  height: auto;
}

.invoice-logo span img {
  height: 50px;
}

.invoice-logo input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.remove-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5em;
  line-height: 1;
  z-index: 10;
  opacity: 0;
  padding: 0px;
}

.invoice-logo:hover .remove-logo {
  opacity: 1;
  color: black;
  background: white;
}

/* end upload logo */

.form-control-plaintext {
  border: 1px solid #ddd;
  padding: 5px;
}

/* item table */

table {
  /* width: 100%; */
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--primary-color);
  color: white;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #218838;
}

#total-amount {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
.line-item {
  margin-left: 3%;
  background-color: var(--primary-color);
}
.line-item:hover {
  margin-left: 3%;
  background-color: var(--input-bg-color);
  color: var(--primary-color);
}
.remove-btn {
  background-color: var(--input-bg-color);
  color: var(--primary-color);
}
.remove-btn:hover {
  background-color: var(--primary-color);
  color: var(--input-bg-color);
}

/* end item table */

textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-group input {
  width: 70px;
  text-align: right;
}

.input-group label {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}

.total {
  font-weight: bold;
}

.hide-borders input,
.hide-borders textarea,
.hide-borders select {
  border: none !important;
  padding: 0px !important;
  background-color: transparent !important;
}

.hidden {
  display: none !important;
}

.card-one {
  border: 1px solid #e3e6f0;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.card-header-one {
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.tooltipinfo {
  position: relative;
}

.tooltipinfo:after,
.tooltipinfo:before {
  opacity: 0;
  pointer-events: none;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, 10px);
  transform-origin: top;
  transition: all 0.18s ease-out 0.18s;
}

.tooltipinfo:after {
  background-color: #f5f5f5;
  box-shadow: 0 0 3px #ddd;
  content: attr(data-tooltipinfo);
  padding: 10px;
  white-space: nowrap;
  margin-bottom: 11px;
}

.tooltipinfo:before {
  width: 0;
  height: 0;
  content: "";
  margin-bottom: 6px;
}

.tooltipinfo:hover:before,
.tooltipinfo:hover:after {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, 0);
}

[data-tooltipinfo-pos="up"]:before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #f5f5f5;
  margin-bottom: 6px;
}

[data-tooltipinfo-length="medium"]:after {
  width: 150px;
}

/* bank details */
.bank-details {
  background-color: var(--input-bg-color);
  border-radius: 10px;
  padding: 25px 20px;
}

.bank-details-title {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 22px;
}

.bank-details p {
  font-size: 16px;
  line-height: 1;
  color: #271e1e;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0px;
}

.bank-form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.bank-form-group label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  flex: 0 0 120px;
  margin-right: 10px;
}

.bank-form-group input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* bank details end */
/* upi qr code */
#upi-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#upi-qrcode {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#upi-id-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

/* upi qr code end */

/* upload Authorized Signatory */
.authorized-signatory {
  border: 1px solid #ddd;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  color: #ccc;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
}
.authorized-signatory span img {
  height: 50px;
}

.authorized-signatory img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: auto;
  height: auto;
}

.authorized-signatory input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.remove-signatory {
  position: absolute;
  top: 10px;
  right: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5em;
  line-height: 1;
  z-index: 10;
  opacity: 0;
  padding: 0px;
}

.authorized-signatory:hover .remove-signatory {
  opacity: 1;
  color: black;
  background: white;
}

.authorized-signatory-parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

/* end upload Authorized Signatory */
